<%= form_with model: @blog do |form| %>
 <div>
    <%= form.label :title, class:"text-emerald-900" %>
  </div>
  <div>
    <%= form.text_field :title, autofocus: true, placeholder: :title, class:"w-full rounded-lg border-emerald-800 focus:border-emerald-600 caret-emerald-600 ring-0 focus:ring-emerald-500 text-m font-semibold" %>
  </div>
  <div class="pb-5"></div>
  <div>
    <%= form.label :body, class:"text-emerald-900" %>
  </div>
  <div>
    <%= form.rich_text_area :body, autofocus: true, placeholder: :body, class:"w-full rounded-lg border-emerald-800 focus:border-emerald-600 caret-emerald-600 ring-0 focus:ring-emerald-500 text-m font-semibold" %>
  </div>
  <div class="pb-5"></div>

  
  <div class="pb-5"></div>
  <div>
    <%= form.submit class:"btn-primary" %>
  </div>
<% end %>