<%= form_with model: @recipe do |form| %>
  <div>
    <%= form.label :title %>
  </div>
  <div>
    <%= form.text_field :title, autofocus: true, placeholder: :title, class:"w-full rounded-lg caret-pink-500 text-m font-semibold" %>
  </div>
  <div>
    <% recipe.errors.full_messages_for(:title).each do |message| %>
      <div class="italic font-mono text-yellow-300 font-light text-sm"><%= message %></div>
    <% end %>
  </div>
  <div class="pb-5"></div>
  <div>
    <%= form.submit class:"width-64 text-sm text-white items-center px-3.5 py-2.5 rounded-full bg-emerald-700 hover:bg-emerald-600" %>
  </div>
<% end %>


