
<div class="flex p-10 flex-col">
  <span class="text-center text-emerald-900 font-semibold text-2xl">
    <h1><%= @recipe.title %></h1>
  </span>
  <div class="pb-5"></div>
  <q class="text-emerald-900 text-m"><%= @recipe.description %></q>
    <br>
  <p class="text-m text-emerald-900 hover:text-green-500 underline">by <%= link_to @recipe.contributor.profile_name, @recipe.contributor %></p>
    <div class="pb-5"></div>
  <div>
    <h4 class="text-emerald-900 font-semibold text-m">This recipe uses the following ingredients:</h4>
    <div class="pb-5"></div>
    <ul>
      <% @recipe.ingredients.each do |ing| %>
        <li> <%= ing.name %></li>
      <% end %>
    </ul>
    <div class="pb-5"></div>
  </div>
  <div>
    <h4 class="text-emerald-900 font-semibold text-m">Here's how to make it!</h4>
    <div class="pb-5"></div>
    <ul>
      <% @recipe.instructions.each do |instruction| %>
      <li><%= instruction.directions %>
      <% end %>
    </ul>
    <% if @like.new_record? %>
    <br>
      <p>Like this idea?</p>
      <%= render 'likes/form' %>
    <% else %>
          <%#= render 'likes/form', @like, data: { "turbo-method": :delete } %>

      <%= button_to 'Unlike', @like,
              method: :delete,
              data: { confirm: "Are you sure?" }, class:"btn-primary" %>  
    <% end %>
  </div>
  <div class="pb-5"></div>
</div>
<% if @recipe.contributor == current_contributor %>
  <h3 class="text-emerald-900"><i>You contributed this recipe! Thanks for getting involved, </i><i><%= current_contributor.profile_name %>!</i></h3>
  <div class="pb-5"></div>
  <button class="btn-primary w-36"> <%= link_to "Edit", edit_recipe_path(@recipe) %> </button>
<% end %>