<div class="pb-5"></div>

<h1 class="text-center text-emerald-900 font-semibold text-2xl"> Edit my profile </h1>

<div class="pb-5"></div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class:"text-emerald-900" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-full rounded-lg border-emerald-800 focus:border-emerald-600 caret-emerald-600 ring-0 focus:ring-emerald-500 text-m font-semibold" %>
  </div>

  <div class="pb-5"></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, class:"text-emerald-900" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"w-full rounded-lg border-emerald-800 focus:border-emerald-600 caret-emerald-600 ring-0 focus:ring-emerald-500 text-m font-semibold" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

<div class="pb-5"></div>

  <div class="field">
    <%= f.label :password_confirmation, class:"text-emerald-900" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"w-full rounded-lg border-emerald-800 focus:border-emerald-600 caret-emerald-600 ring-0 focus:ring-emerald-500 text-m font-semibold" %>
  </div>

  <div class="pb-5"></div>

  <div class="field">
    <%= f.label :profile_name, class:"text-emerald-900"%><i>(This will be public)</i><br />
    <%= f.text_field :profile_name, autocomplete: "Profile Name", class: "w-full rounded-lg border-emerald-800 focus:border-emerald-600 caret-emerald-600 ring-0 focus:ring-emerald-500 text-m font-semibold" %>
  </div>

  <div class="pb-5"></div>

  <div class="field">
    <%= f.label :current_password, class:"text-emerald-900" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"w-full rounded-lg border-emerald-800 focus:border-emerald-600 caret-emerald-600 ring-0 focus:ring-emerald-500 text-m font-semibold" %>
  </div>

  <div class="pb-5"></div>

  <div class="actions">
    <%= f.submit "Update", class:"btn-primary" %>
  </div>
<% end %>


<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
